<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div>
	  <%= f.label "Start date" %><br>
	    <%= f.date_field :startdate %>
  </div>

<div>
  <%= f.fields_for :statuses do |p| %>
  <div class="form-group">
    <%= p.text_area :description, placeholder: "Describe your new status", rows: 10, class: "form-control" %>
  </div>
<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
