<p id="notice"><%= notice %></p>

<div id = "wrapper">
<div align=center>
<h1>WHAT IS [USER] WORKING ON RIGHT NOW?</h1>
<h3>get in touch at user@email.com</h3>
</div>

<% @projects.each do |project|%>
	<div class="project">
		<p><%= project.title %></p>
		<p>since <%= project.startdate %></p>
		<div class="status">
      <h1>Project Status Updates:</h1>
      <%= render 'statuses/status' %>
		</div>
	</div>
<% end %>
</div>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Picture</th>
	  <th>Description</th>
	  <th>Start date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
		<td><%= project.startdate %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
